/node_modules
/public/css
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
.DS_Store
.env
.env.backup
.env.cypress
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/_ide_helper.php
/.phpstorm.meta.php
/tests/cypress/videos/
/tests/cypress/screenshots/
/tests/cypress/support/routes.json
