.form-label {
    @apply mb-2 block select-none text-gray text-sm;
}

.form-input,
.form-textarea,
.form-select {
    @apply p-2
    pl-4
    text-base
    w-full
    font-sans
    rounded
    text-left
    appearance-none
    relative
    hover:bg-light
    focus:ring-secondary
    focus:ring-1
    focus:shadow-md
    focus:bg-light
    disabled:text-gray-light
    disabled:bg-white
    text-dark
    border
    border-light;

    &::placeholder {
        @apply text-gray;
    }
}

.form-file {
    @apply p-2
    pl-4
    text-base
    w-full
    font-sans
    rounded
    text-left
    appearance-none
    relative
    disabled:text-gray-light
    disabled:bg-white
    text-dark
    border-2
    border-accent
    border-dashed;

    &::placeholder {
        @apply text-gray;
    }
}

.form-select {
    @apply pr-6;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAQtJREFUOBG1lEEOgjAQRalbGj2OG9caOACn4ALGtfEuHACiazceR1PWOH/CNA3aMiTaBDpt/7zPdBKy7M/DCL9pGkvxxVp7KsvyJftL5rZt1865M+Ucq6pyyF3hNcI7Cuu+728QYn/JQA5yKaempxuZmQngOwEaYx55nu+1lQh8GIatMGi+01NwBcEmhxBqK4nAPZJ78K0KKFAJmR3oPp8+Iwgob0Oa6+TLoeCvRx+mTUYf/FVBGTPRwDkfLxnaSrRwcH0FWhNOmrkWYbE2XEicqgSa1J0LQ+aPCuQgZiLnwewbGuz5MGoAhcIkCQcjaTBjMgtXGURMVHC1wcQEy0J+Zlj8bKAnY1/UzDe2dbAVqfXn6wAAAABJRU5ErkJggg==");
    background-size: 0.7rem;
    background-repeat: no-repeat;
    background-position: right 0.7rem center;

    &::-ms-expand {
        @apply opacity-0;
    }
}

.form-file.error {
    @apply border-2
    border-red
    border-dashed;
}

.form-input.error,
.datepicker.error,
.form-textarea.error,
.form-select.error {
    @apply border
    border-red
    focus:ring-1
    rounded
    focus:ring-red;
}

.form-error {
    @apply text-red mt-2 text-sm;
}

.label-error {
    @apply text-red;
}

.form-icon {
    @apply fill-gray;
}

.auth-form .form-label {
    @apply text-light;
}

.placeholder-italic::placeholder {
    @apply italic;
}

.placeholder-normal::placeholder {
    @apply not-italic;
}

.datepicker.mx-datepicker {
    @apply w-full;
}

.datepicker .mx-input {
    @apply shadow-none
    h-auto
    p-2
    pl-4
    text-base
    w-full
    font-sans
    rounded
    appearance-none
    relative
    hover:bg-light
    hover:border-transparent
    focus:ring-secondary
    focus:ring-1
    focus:shadow-md
    focus:bg-light
    focus:border-transparent
    disabled:text-gray-light
    disabled:bg-white
    text-dark
    border
    border-light;
}

.datepicker .mx-input::placeholder {
    @apply italic;
}

.placeholder-normal .mx-input::placeholder {
    @apply not-italic;
}

.datepicker.editable .mx-input {
    @apply border-transparent;
}

.datepicker .mx-input-wrapper:hover .mx-icon-clear + .mx-icon-calendar {
    @apply block;
}

.datepicker .mx-input-wrapper:hover .mx-icon-clear {
    @apply hidden;
}

.datepicker .mx-input:focus + .mx-icon-clear {
    @apply block;
}

.datepicker .mx-input-wrapper .mx-input:focus ~ .mx-icon-calendar {
    @apply hidden;
}

.mx-datepicker .mx-icon-calendar svg {
    @apply w-4 h-4;
}

.file-uploads label {
    @apply cursor-pointer;
}
